.navigation {
  background-color: #f8f9fa;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.navigation .instruction {
  font-size: 18px;
  margin-bottom: 10px;
}

.navigation nav ul {
  list-style-type: none;
  padding: 0;
}

.navigation nav ul li {
  display: inline;
  margin-right: 20px;
}

.navigation nav ul li:last-child {
  margin-right: 0;
}

.navigation nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navigation nav ul li a:hover {
  background-color: #ddd;
}
.instruction {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold; /* Add bold font weight */
  color: #333; /* Add color */
}